*.as text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.py text eol=lf
interface/src/*.as text eol=lf
interface/src/**/*.as text eol=lf
interface/src/**/*.ttf binary
*.otf binary
*.swf binary
*.ttf binary
